# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Models
models/*.joblib
models/*.pkl

# Processed Data
data/processed/*.csv
data/processed/*.json
!data/processed/.gitkeep

# Cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
